.headerTitle {
  display: flex;
  flex-direction: column;
  order: 1;
  margin-top: 5.6rem;
  margin-bottom: 7.5rem;
}

.titleHuge {
  margin-bottom: 3.125rem;
  line-height: 4rem;
  flex-direction: row;
  min-height: 130px;
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.2rem;
}

@media (--t){
  .titleHuge{
    font-size: 4.5rem;
    margin-top: 7.5rem;
  }
}
