.headerButtons{
    display: flex;
    flex-direction: row;
    order: 2;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
   margin-bottom: 50px;
}

.getStarted{
    margin-right: 25px;
    /* padding: 0px 25px; */
}

.try{
    /* padding: 0px 25px; */
}

@media (--t) {
    .getStarted{
        height: 87px;
    }
}