.header {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.22) 7.62%,
    rgba(0, 225, 199, 0.233) 25.5%,
    #ffffff 70.92%
  );
  display: flex;
  flex-direction: column;
  order: 0;
}

.imgHeader {
  order: 3;
}

@media (max-width: 980px) {
  .screen{
      max-width: 445px;
      margin-left: auto;
      margin-right: auto;
  }
}