.headerButtons{
    display: flex;
    flex-direction: row;
    order: 2;
    max-width: 410px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 3.12rem;
    
}

.getStarted{
    margin-right: 1.55rem;
    /* padding: 0px 25px; */
}

.try{
    /* padding: 0px 25px; */
}

@media (--t) {
    .getStarted{
        height: 87px;
    }
}

@media (max-width: 400px) {
    .headerButtons{
        flex-direction: column;
    }
    .getStarted{
        margin-bottom: 1.25rem;
        margin-right: 0;
    }
}