.headerTitle {
  display: flex;
  flex-direction: column;
  order: 1;
  margin-top: 91px;
  margin-bottom: 120px;
}

.titleHuge {
  margin-bottom: 50px;
  line-height: 78px;
  flex-direction: row;
  
}

