.contTexts{
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    margin-top: 1.5rem;
    
}

.paragrapheText{
    margin: 40px 0px;
    font-size: 1.5rem;
    text-align: start;
}

.resP{
    margin: 40px 0px;
    font-size: 1.3rem;
}

.contButton{
    margin-right: 0px;
    padding: 0;
}

@media (--t) {
    .contTexts{
        align-items: flex-start;
    }
}