.contFrames {
    order: 0;
    display: flex;
    flex-direction: column;
  }
  
  
  .screen1 {
      position: static;
      order: 1;
  
    
  }
  
  
  @media (--t) {
      .screen1{
          margin-right: 90px;
      }
  }

  @media (max-width: 980px) {
    .screen1{
        max-width: 391px;
    }
}