.contFrames {
  order: 0;
  display: flex;
  flex-direction: column;
}

.vectorDiv {
  order: 0;
  position: static;
  padding-left: 100%;
}

.screen1 {
    margin-right: auto;
    margin-left: auto;
    position: static;
  order: 1;

  
}

.vector3 {
  position: static;
  right: 0;

}


@media (--t) {
    .contFrames{
        order:1;
    }
}