.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  cursor: pointer;
  padding: 10px;
  margin-right: 31px;
  background-color: transparent;
  
}


