.mainBtn{
    box-sizing: border-box;
    border-radius: 5.3rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    height: 3.40rem;
    cursor: pointer;
    box-shadow: 0px 0px 6px 0px #1564ad;
}

.backBlue{
    background-color: var(--c-primary);
}

.backWhite{
    background-color: #fff;
}




.mainBtn:active {
	position:relative;
	top:1px;
}
