.mainBtn{
    box-sizing: border-box;
    border-radius: 85px;
    padding-left: 36px;
    padding-right: 36px;
    height: 55px;
    cursor: pointer;
}

.backBlue{
    background-color: var(--c-primary);
}

.backWhite{
    background-color: #fff;
}

.border{
    border: 1px solid #00B6F0;
    box-sizing: border-box;
    border-radius: 85px;
}
