.navButton{
    flex: none;
    /* align-self: center; */
    position: relative;
    position: static;
    margin: 0px 1.87rem;
    width: 70px;
    min-height: 40px;
    background-color: transparent;
    cursor: pointer;
}

.navButton:active {
	position:relative;
	top:1px;
}