.navButton{
    flex: none;
    /* align-self: center; */
    position: relative;
    position: static;
    margin: 0px 31px;
    width: 70px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
}