.contentButtons {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  align-items: center;
  order: 1;

}


.firstBtn{
  
  margin-right: 0px;
  margin-bottom: 20px;
  width: 305px;
}

.secondBtn{
  width: 305px;
}

@media (--t) {
  .contentButtons {
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
  }
  .firstBtn{
    margin-right: 20px;
    margin-bottom: 0px;
  }
}