.btnText{
    font-size: 1.125rem;
    margin: 0;
    font-weight: 450;
    line-height: 1.25rem;
    
}
.bold{
    font-weight: bold;
}

.btnBlue{
    color: var(--c-primary);
}

.btnWhite{
    color: var(--c-text-white);
}

.btnBlack{
    color: var(--c-text-black);
}