.navButton{
    flex: none;
    align-self: center;
    position: relative;
    position: static;
    width: 70px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--c-text-white);
}